<h1><%= @prefecture.name %></h1>

<h4>駅一覧</h4>
<ul>
    <% @stations.each do |station| %>
        <li>
            <% if station.active %>
                <%= link_to station_path(station.id) do %>
                    <%= station.name %>
                <% end %>
            <% else %>
                <%= link_to station_path(station.id) do %>
                    <%= station.name %><廃駅>
                <% end %>
            <% end %>
        </li>
    <% end %>
</ul>

    