<h1>路線一覧</h1>
<div class="row">
    <div class="form-group">
        <%= search_form_for @search, url: routes_path do |f| %>
            <div class="col-xs-10">
                <%= f.text_field :name_cont ,class: "form-control" ,id: "inputDefault" %>
            </div>
            <div class="col-xs-2">
                <%= f.submit '検索する' , class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>
<div class="bs-component">
            <table class="table table-striped table-hover ">
<tbody>
<% @routes.each do |route| %>
    <tr>
                            <td>
        <% if route.active %>
            <%= link_to route_path(route.id) do %>
                <%= route.name %>(<%= route.number %>駅)
            <% end %>
            <% if user_signed_in? %>[<%= current_user.complete_routes.find_by(route_id: route.id).number %>/<%= route.number %>]  <% if current_user.complete_routes.find_by(route_id: route.id).complete %><span class="label label-primary">Complete!</span><% end %><% end %>
        <% else %>
            <%= link_to route_path(route.id) do %>
                <%= route.name %><廃路線>(<%= route.number %>駅)
            <% end %>
            <% if user_signed_in? %>[<%= current_user.complete_routes.find_by(route_id: route.id).number %>/<%= route.number %>]  <% if current_user.complete_routes.find_by(route_id: route.id).complete %><span class="label label-primary">Complete!</span><% end %><% end %>
        <% end %>
    </td>
                        </tr>
<% end %>
</tbody>
            </table>
        </div>