<% if @route.active %>
    <h1><%= @route.name %>(<%= @route.number %>駅)<% if user_signed_in? %>[<%= current_user.complete_routes.find_by(route_id: @route.id).number %>/<%= @route.number %>]  <% if current_user.complete_routes.find_by(route_id: @route.id).complete %><span class="label label-primary">Complete!</span><% end %><% end %></h1>
<% else %>
    <h1><%= @route.name %><廃路線>(<%= @route.number %>駅)<% if user_signed_in? %>[<%= current_user.complete_routes.find_by(route_id: @route.id).number %>/<%= @route.number %>]  <% if current_user.complete_routes.find_by(route_id: @route.id).complete %><span class="label label-primary">Complete!</span><% end %><% end %></h1>
<% end %>

<h4>所属駅一覧</h4>
<%= render 'layouts/station_index',stations: @stations  %>

<p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'layouts/comments_index', locals: { comments: @route_comments, parent: @route } %>
    </div>
    <% if user_signed_in? %>
    <%= render partial: 'layouts/comments_form', locals: { comment: @route_comment, parent: @route } %>
<% end %>
    <%= link_to '戻る', routes_path %>