<div class="bs-component">
            <table class="table table-striped table-hover ">
                <tbody>
<% stations.each do |station| %>
    <tr>
                            <td>
        <% if station.active %>
            <%= link_to station_path(station.id) do %>
                <%= station.name %>(<%= station.prefecture.name %>)
            <% end %>
            <% if user_signed_in? %>
                <%= render 'layouts/access_form',station: station %>
            <% end %>
        <% else %>
            <%= link_to station_path(station.id) do %>
                <%= station.name %><廃駅>(<%= station.prefecture.name %>)
            <% end %>
            <% if user_signed_in? %>
                <%= render 'layouts/access_form',station: station  %>
            <% end %>
        <% end %>
    </td>
                        </tr>
<% end %>
</tbody>
            </table>
        </div>