<!DOCTYPE html>
<html>
<head>
  <title>駅レコ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name="twitter:card" content="summary_card" />
  <meta property="og:url" content="https://station-record.herokuapp.com/" />
  <meta property="og:title" content="駅レコ" />
  <meta property="og:description" content="某位置情報ゲーの便利ツール" />
  <meta property="og:image" content="assets/images/no_image.png" />
  
</head>
<body>

<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "駅レコ", root_path, class: "navbar-brand" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %><% if current_user.provider=="twitter" %><li><%= link_to "つぶやく", twitter_tweet_path %></li><% end %><% end %>
            <% if user_signed_in? %><% if current_user.provider=="facebook" %><li><%= link_to "投稿", twitter_tweet_path %></li><% end %><% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">メニュー<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to '都道府県一覧',prefectures_path %></li>
                <li><%= link_to '路線一覧',routes_path %></li>
                <li><%= link_to '駅一覧',stations_path %></li>
              </ul>
            </li>
            <% if user_signed_in? %>
              <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト",destroy_user_session_path,method: :delete %></li>
            <% else %>
              <li><%= link_to "ログイン",new_user_session_path %></li>
              <li><%= link_to "サインアップ",new_user_registration_path %></li>
            <% end %> 
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  

<div class="container">
  <section class="main-header">
    <% if alert  %>
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p><%= alert %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if notice %>
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            <div class="alert alert-dismissible  alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p><%= notice %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</section>
<%= yield %>

</div>
<footer>
  <div>
    <p>作成者：@kanineshi</p>
  </div>
</footer>

</body>
</html>
